@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:hover {
  opacity: 0.6;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.video__iframe:last-child {
  margin-right: 0;
}
