.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  width: 730px;
  line-height: 96px;
  margin: auto 64px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  z-index: 1;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin: 100px 0 0 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin: 100px 0 0 0;
}

.section-title {
  margin: 0 auto;
  text-align: center;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
}

.section-subtitle {
  text-align: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15em;
}

.table__text {
  margin-top: 20px;
}

.feynman {
  margin: 100px 0 0 0;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 890px;
  max-height: 756px;
  position: relative;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__title {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  width: 648px;
  text-align: center;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}

.feynman__subtitle {
  position: relative;
  text-align: center;
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.kaufman {
  margin: 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.kaufman-triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  margin-top: 0;
  right: -210px;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
  width: 60%;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  color: white;
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  margin: 0 auto;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  margin: 20px 0 0;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  display: flex;
  margin-bottom: 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 18px;
  left: 0;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
}
